apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: control-plane
  namespace: neurostore
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: control-plane
  minReplicas: 3
  maxReplicas: 20
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
