apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: s3-gateway
  namespace: neurostore
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: s3-gateway
  minReplicas: 2
  maxReplicas: 30
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
